<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>opreciones crud</title>
</head>
<body>
    <h1>Bienvenidos al crud de los libros</h1>

    <form id="formularioLibro">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
      
        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required>
      
        <label for="añoPublicacion">Año de Publicación:</label>
        <input type="number" id="añoPublicacion" name="añoPublicacion" required>
      
        <button type="button" onclick="crearLibro()">Crear Libro</button>
      </form>
      <form id="formularioActualizarLibro">
        <label for="idLibro">ID del Libro a Actualizar:</label>
        <input type="text" id="idLibro" name="idLibro" required>
      
        <label for="nuevoTitulo">Nuevo Título:</label>
        <input type="text" id="nuevoTitulo" name="nuevoTitulo" required>
      
        <label for="nuevoAutor">Nuevo Autor:</label>
        <input type="text" id="nuevoAutor" name="nuevoAutor" required>
      
        <label for="nuevoAñoPublicacion">Nuevo Año de Publicación:</label>
        <input type="number" id="nuevoAñoPublicacion" name="nuevoAñoPublicacion" required>
      
        <button type="button" onclick="actualizarLibro()">Actualizar Libro</button>
      </form>
      <form id="formularioEliminarLibro">
        <label for="idLibroEliminar">ID del Libro a Eliminar:</label>
        <input type="text" id="idLibroEliminar" name="idLibroEliminar" required>
      
        <button type="button" onclick="eliminarLibro()">Eliminar Libro</button>
      </form>

      <script src="/js/script.js"></script>

 </body>
</html>